# This workflow will run when a release is created and publish to npm.
name: Node.js Package

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Configure npm auth
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Publish release
        if: "!contains(github.event.release.tag_name, 'beta')"
        run: npm publish --access public --tag latest

      - name: Publish beta
        if: "contains(github.event.release.tag_name, 'beta')"
        run: npm publish --access public --tag beta
